.eventInputContainter {
  display: inline-block;
  border-style: solid;
  border-width: 1px;
  padding: 25px 25px;
  width: 46%;
  margin: 40px;
  box-shadow: 0px 5px 15px 5px #aaa4a7;
  font-size: 38px;
  font-weight: bold;
}

.eventNameInput {
  width: 60%;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0px 5px 5px 0px #aaa4a7;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 16px;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center;
}

.eventTimeInput {
  font-size: 18px;
  padding: 16px 0px 16px 0px;
}

.eventInputButton {
  color: black !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #faebd7;
  padding: 20px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
}

.eventInputButton:hover {
  color: white !important;
  background: #434343;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
}

.eventInputButton:hover {
  cursor: pointer;
}
