.App {
  text-align: center;
}

body {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 16px;
  letter-spacing: -1px;
  line-height: 1;
}

button {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 16px;
  letter-spacing: -1px;
  line-height: 1;
}
